@charset "utf-8";

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
html *,
::before,
::after {
  box-sizing: border-box;
}

/* フォント */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: sans-serif;
}

/* ベースのリンクカラー */
a {
  color: #f30;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  /* 画像下のスペースを消す */
}

/**
 * ***************************************
 * ページ下部
 * ***************************************
 *
 * ページ下部コンテナ
 */
.bottom-container {
  padding: 0 4% 0 4%;
}

@media (min-width: 768px) {
  .bottom-container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 1040px;
  }
}

/**
 * ---------------------------------------
 * ページ下部モジュール
 */

/**
 * ***************************************
 * フッター
 * ***************************************
 *
 * フッターコンテナ
 */
.footer-container {
  padding: 0 4%;
}

@media (min-width: 768px) {
  .footer-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/**
 * ---------------------------------------
 * フッターモジュール
 */

/**
 * ***************************************
 * メインコンテナ
 * ***************************************
 */
/**
 * ***************************************
 * ［post.html］記事ページ - メインコンテナ
 * ***************************************
 */
/* スマホの場合 */
.post .main-container {
  padding: 0 4% 0 4%;
}

@media (min-width: 768px) {

  /* PCの場合 */
  .post .main-container {
    max-width: 1040px;
    /* 中央揃えするときにはこの書き方を良くする。（上下は0で、左右は、auto ） */
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}

/**
 * ---------------------------------------
 * ［post.html］記事ページ - モジュール
 */